@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SkillTree Homework1</h1>
    <p>
    @Html.ActionLink("前往記帳本", "Account", "Home" , new { @class= "btn btn-primary btn-lg" }) 
    </p>
</div>

